<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">X-Demon</h1>
        <p class="home-text">There's a portal here, and honestly?<br class="mob"/>
        Most people probably shouldn't mess with it.</p>
        <a class="home-link btn" href="#demo">
            <p>Enter the World</p>
        </a>
    </div>
</section>
<section class="world-section" id="world">
    <div class="container world-container">
       <div class="title-container">
        <img src="/img/x.png" alt="X" loading="lazy">
        <h2>The World</h2>
       </div>
       <h3>The Altar<br class="mob"/>
    That Should Not Be Touched</h3>
    <p class="world-text">So we've got this ancient altar thing - whoever built it clearly knew that power comes with a price.<br/>What looks like a
    portal is, in fact, a barrier — holding something back.<br class="desk"/>
    Stone guardians were raised to keep the balance. They still stand. But they are weakening.<br class="desk" /> Those who enter this world do
    not chase easy victories. They endure. They resist. <br class="desk" />They learn the rules written long before them.</p>
       </div>
</section>
<section class="core-section" id="core">
    <div class="container core-container">
        <div class="title-container">
            <img src="/img/x.png" alt="X" loading="lazy">
            <h2>Core Concept</h2>
        </div>
        <h3>Strength Is Earned,<br class="mob"/>
        Not Given</h3>
        <div class="core-wrapper">
            <p>The game unfolds through a symbol-driven system where hostile entities emerge and evolve.<br class="desk"/> Certain symbols appear above
            the main field, influencing what exists beneath them.</p>
            <ul class="core-list">
                <li class="core-item">
                     <picture>
                <source srcset="
                /img/core/one-desk.png 1x,
                /img/core/one-desk@2x.png 2x
                " media="(min-width: 1440px)" />
                <source srcset="
                /img/core/one-mob.png 1x,
                /img/core/one-mob@2x.png 2x
                " media="(max-width: 1439px)" />
                <img class="core-img" src="/img/core/one-mob.png" alt="X-Demon" loading="lazy" />
            </picture>
                </li>
                <li class="core-item">
                    <picture>
                        <source srcset="
                                /img/core/two-desk.png 1x,
                                /img/core/two-desk@2x.png 2x
                                " media="(min-width: 1440px)" />
                        <source srcset="
                                /img/core/two-mob.png 1x,
                                /img/core/two-mob@2x.png 2x
                                " media="(max-width: 1439px)" />
                        <img class="core-img" src="/img/core/two-mob.png" alt="X-Demon" loading="lazy" />
                    </picture>
                </li>
                <li class="core-item">
                    <picture>
                        <source srcset="
                                /img/core/three-desk.png 1x,
                                /img/core/three-desk@2x.png 2x
                                " media="(min-width: 1440px)" />
                        <source srcset="
                                /img/core/three-mob.png 1x,
                                /img/core/three-mob@2x.png 2x
                                " media="(max-width: 1439px)" />
                        <img class="core-img" src="/img/core/three-mob.png" alt="X-Demon" loading="lazy" />
                    </picture>
                </li>
            </ul>
            <p>When aligned correctly, these forces can be neutralized — transformed into allies that reshape the field and open new
            paths forward. Every action matters.<br class="desk" /> Every sequence changes what comes next. This is not about speed. It is about
            reading the signs.</p>
        </div>
    </div>
</section>
<section class="wild-section" id="demo">
    <div class="container demo-container">
        <div class="title-container">
            <img src="/img/x.png" alt="X" loading="lazy">
            <h2>Wild Attack</h2>
        </div>
        <h3>Corruption Shift</h3>
        <p class="wild-text">Special influence symbols may appear on the upper layer of the field.<br/>When such a symbol aligns directly above a
        powerful hostile entity, the entity is purified and transformed.<br class="desk"/>
        After the transformation, new combinations become possible, altering the entire flow of the round.<br class="desk" />
        These transformed symbols can adapt to most other elements on the field, making them a crucial tool for survival.</p>
        <a class="demo-btn btn" href="#" data-game-url="https://demo.evoplay.games/demo/fullstate/html5/evoplay/xdemon"
            target="gameIframe">
          <p>Try Free Demo</p>
        </a>
        <div class="ifram-wrapper">
            <iframe id="gameIframe" style="display: none; width: 100%; height: 600px; border: none; margin-top: 20px;"></iframe>
        
            <button id="closeIframeBtn" aria-label="Close" class="hidden-close-btn">
       <img src="/img/demo/close.png" alt="close">
            </button>
        </div>
    </div>
</section>
<section class="ritual-section" id="ritual">
    <div class="container">
        <div class="title-container">
            <img src="/img/x.png" alt="X" loading="lazy">
            <h2>Ritual Symbols</h2>
        </div>
        <h3>Ritual Marks</h3>
        <div class="ritual-wrapper">
            <p class="ritaul-text">When multiple Ritual Marks appear together, the game shifts into a heightened state of challenge.</p>
            <ul class="ritual-list">
                <li>
<picture>
    <source srcset="
                /img/ritual/one-desk.png 1x,
                /img/ritual/one-desk@2x.png 2x
                " media="(min-width: 1440px)" />
    <source srcset="
                /img/ritual/one-mob.png 1x,
                /img/ritual/one-mob@2x.png 2x
                " media="(max-width: 1439px)" />
    <img class="ritual-img" src="/img/ritual/one-mob.png" alt="X-Demon" loading="lazy" />
</picture>
                </li>
                <li>
                    <picture>
                        <source srcset="
                                /img/ritual/two-desk.png 1x,
                                /img/ritual/two-desk@2x.png 2x
                                " media="(min-width: 1440px)" />
                        <source srcset="
                                /img/ritual/two-mob.png 1x,
                                /img/ritual/two-mob@2x.png 2x
                                " media="(max-width: 1439px)" />
                        <img class="ritual-img" src="/img/ritual/two-mob.png" alt="X-Demon" loading="lazy" />
                    </picture>
                </li>
                <li>
                    <picture>
                        <source srcset="
                                /img/ritual/three-desk.png 1x,
                                /img/ritual/three-desk@2x.png 2x
                                " media="(min-width: 1440px)" />
                        <source srcset="
                                /img/ritual/three-mob.png 1x,
                                /img/ritual/three-mob@2x.png 2x
                                " media="(max-width: 1439px)" />
                        <img class="ritual-img" src="/img/ritual/three-mob.png" alt="X-Demon" loading="lazy" />
                    </picture>
                </li>
                <li>
                    <picture>
                        <source srcset="
                                /img/ritual/four-desk.png 1x,
                                /img/ritual/four-desk@2x.png 2x
                                " media="(min-width: 1440px)" />
                        <source srcset="
                                /img/ritual/four-mob.png 1x,
                                /img/ritual/four-mob@2x.png 2x
                                " media="(max-width: 1439px)" />
                        <img class="ritual-img" src="/img/ritual/four-mob.png" alt="X-Demon" loading="lazy" />
                    </picture>
                </li>
            </ul>
            <p class="ritaul-text">Depending on how many marks are revealed at once, the duration of this intensified phase will vary,<br/>
            extending the confrontation and increasing the pressure.<br/>
            This phase is not a reward. It is a test.</p>
        </div>
    </div>
</section>
<section class="phase-section" id="phase">
    <div class="container phase-container">
        <div class="title-container">
            <img src="/img/x.png" alt="X" loading="lazy">
            <h2>Intensified Phase</h2>
        </div>
        <h3>Trial of the Deep</h3>
        <p class="pahse-text">During the Trial of the Deep,
        each hostile entity is tracked individually. A counter shows how many remain before the entity is fully subdued. When a
        purification effect occurs during this phase, the remaining count is reduced. Once an entity is completely overcome, it
        no longer returns in its original form — instead, it becomes a permanent empowered symbol for the rest of the trial. By
        the end, the field is no longer what it was at the start.</p>
    </div>
</section>