<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">X-Demon</h1>
        <p class="home-text">There's a portal here, and honestly?<br class="mob"/>
        Most people probably shouldn't mess with it.</p>
        <a class="home-link" href="#demo">
            <p>Enter the World</p>
        </a>
    </div>
</section>
<section class="world-section" id="world">
    <div class="container world-container">
       <div class="title-container">
        <img src="/img/x.png" alt="X" loading="lazy">
        <h2>The World</h2>
       </div>
       <h3>The Altar<br class="mob"/>
    That Should Not Be Touched</h3>
    <p class="world-text">So we've got this ancient altar thing - whoever built it clearly knew that power comes with a price.<br/>What looks like a
    portal is, in fact, a barrier — holding something back.<br class="desk"/>
    Stone guardians were raised to keep the balance. They still stand. But they are weakening.<br class="desk" /> Those who enter this world do
    not chase easy victories. They endure. They resist. <br class="desk" />They learn the rules written long before them.</p>
       </div>
</section>