body{
  background: #1a1c1d;
  font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #d0d0d4;
}
h2{
  font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #8a8a8a;
}
.title-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 40px;
}
h3{
  font-family: "Cinzel Decorative", sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(180deg, #b5860d 0%, #c3ab70 50%, #b5860d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: inset 0 2px 4px 0 rgba(118, 0, 0, 0.6);
}
@media only screen and (min-width: 1440px) {
.title-container {
    align-items: start;
    justify-content: start;
    margin-bottom: 24px;
  }
}