.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    padding: 48px 16px;
    background: #282b2c;
    z-index: 1000;
    width: 100%;
    height: auto;
    display: none;
}


.cookie-class {
font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #d0d0d4;
    width: 273px;
    margin-left: auto;
    margin-right: auto;
}

.cookie-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
width: 318px;
    height: 30px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

.btn-accept {
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #d0d0d4;
    border-radius: 4px;
        padding: 8px 10px;
        width: 137px;
        height: 30px;
    box-sizing: border-box;
    border: none;
font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #0a0721;
}

.btn-decline {
    border: none;
border-bottom: 1px solid #d0d0d4;
    padding: 8px 10px;
    width: 141px;
    height: 30px;
font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #d0d0d4;
    box-sizing: border-box;
    background-color: inherit;
}


@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 64px 100px;
        width: 1439px;
        height: auto;
    }

    .mob {
        display: none;
    }

    .popup-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .cookie-class {
        width: 100%;

    }

    .cookie-buttons {
        margin-top: 0;
        gap: 24px;
    }

}