.footer {
 background-image: url("/img/footer/mob.png");
 background-repeat: no-repeat;
 background-position: bottom center;  
 background-size: cover;
}
.footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.footer-navigation{
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #8a8a8a;
}
.footer-text{
  font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #8a8a8a;
}
@media only screen and (min-width: 1440px) {
  .footer {
    background-image: url("/img/footer/desk.png");
  }
  .footer-navigation{
    gap: 24px;
      font-size: 14px;
  }
  .footer-link{
    gap: 40px;
  }
}