.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  height: 48px;
  background: #1a1c1d;
}

.header-container {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 121px;
  width: 28px;
  height: 28px;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
background: linear-gradient(180deg, #1a1c1d 0%, #630707 100%);
  padding: 64px 20px;
  width: 100%;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}


.menu-item {
  font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #d0d0d4;
  padding: 8px 0px;
  height: 35px;
  transition: all 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
border-bottom: 1px solid #efb00d;
color: #efb00d;
}

.header-policy-list {
  margin-top: 64px;
  display: flex;
  gap: 16px;
  justify-content: center;
font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #8a8a8a;
}

@media screen and (min-width: 1440px) {
.header{
  background: rgba(26, 28, 29, 0.3);
  height: 49px;
}
  .header-container {
    padding: 8px 64px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 55px;
  }

  .navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #d0d0d4;
    transition: all 0.3s ease-in-out;
  }

  .navigation-item:hover {
    color: #efb00d;
  }

  .navigation-item:focus,
  .navigation-item.active {
border-bottom: 1px solid #efb00d;
  color: #efb00d;

  }

}