.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-text{
    font-family: "Goldman", sans-serif;
font-weight: 400;
font-size: 24px;
text-align: center;
color: #d0d0d4;
width: 303px;
margin: 504px auto 32px;
}
.btn{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 2px 0 rgba(26, 28, 29, 0.5), 1px 2px 2px 0 rgba(161, 114, 20, 0.5);
background: #1a1c1d;
border: 1px solid #a17214;
border-radius: 16px;
width: 280px;
height: 48px;
font-family: "Goldman", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.3;
color: #d0d0d4;
transition: color 0.3s ease-in-out;
}
.btn:hover,
.btn:focus {
color: #efb00d;
}
@media only screen and (min-width: 1440px) {
  .home-section{
    background-image: url("/img/home/desk.png");
    height: 819px;
  } 
  .mob{
    display: none;
  } 
  .home-text{
    margin-top: 346px;
    width: 100%;
    margin-bottom: 220px;
  }
}
/* The World */
.world-section{
    background-image: url("/img/world/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 624px;
    height: 1186px;
}
.world-text{
    margin-top: 32px;
    width: 323px;
    margin-left: auto;
    margin-right: auto;
}
.desk{display: none;}
@media only screen and (min-width: 1440px) {
.world-section{
    background-image: url("/img/world/desk.png");
    background-size: 100% 624px;
   height: 948px;
}
.world-text{
    width: 100%;
}
.desk{display: block;}
}
/* Core Concept */
.core-section{
    background-image: url("/img/core/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.core-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
   width: 323px;
   margin-left: auto;
   margin-right: auto;
    margin-top: 32px;
}
.core-list{
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 1440px) {
.core-section{
    background-image: url("/img/core/desk.png");
}
.core-wrapper{
    width: 894px;
    gap: 32px;
}
}
/* Demo */
.wild-section{
    background-image: url("/img/demo/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 211px;
}
.demo-container{
    padding-bottom: 240px;
}
.wild-text{
    width: 323px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}
.demo-btn {

    cursor: pointer;
}

.ifram-wrapper {
    position: relative;
}

.hidden-close-btn {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: inherit;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    z-index: 10;
}
@media only screen and (min-width: 1440px) {
   .wild-section{
    background-image: url("/img/demo/desk.png");
    background-size: 100% 810px;
   }
   .demo-container{
    padding-bottom: 810px;
   }
   .wild-text{
    width: 100%;
    margin-top: 40px;
   }
}