.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-text{
    font-family: "Goldman", sans-serif;
font-weight: 400;
font-size: 24px;
text-align: center;
color: #d0d0d4;
width: 303px;
margin: 504px auto 32px;
}
.home-link{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 2px 0 rgba(26, 28, 29, 0.5), 1px 2px 2px 0 rgba(161, 114, 20, 0.5);
background: #1a1c1d;
border: 1px solid #a17214;
border-radius: 16px;
width: 280px;
height: 48px;
font-family: "Goldman", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.3;
color: #d0d0d4;
transition: color 0.3s ease-in-out;
}
.home-link:hover,
.home-link:focus {
color: #efb00d;
}
@media only screen and (min-width: 1440px) {
  .home-section{
    background-image: url("/img/home/desk.png");
    height: 819px;
  } 
  .mob{
    display: none;
  } 
  .home-text{
    margin-top: 346px;
    width: 100%;
    margin-bottom: 220px;
  }
}